.emergency-stop-button {
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}